.git
.idea
.vscode
.cursor
.DS_Store

target/
**/target/**
!services/
!services/*/
!services/*/target/
!services/*/target/*.jar
node_modules
**/node_modules
dist
**/dist
build
**/build

logs
*.log

.env
.env.*
!.env.example
