POSTGRES_USER=fhir_user
POSTGRES_PASSWORD=fhir_pass
JWT_SECRET=change-me-to-a-256-bit-base64-secret-in-prod-at-least-32-chars
INTERNAL_SERVICE_TOKEN=change-me-before-service-splitting

AUTH_IDENTITY_DB_PORT=5433
CONSENT_DB_PORT=5434
HOSPITAL_A_DB_PORT=5435
NOTIFICATION_AUDIT_DB_PORT=5436
HIE_SUPPORT_DB_PORT=5437
HOSPITAL_B_MONGO_PORT=27017
